<form action="/bingo-template-upload" method="post" enctype="multipart/form-data">
    <input type="file" name="bingo-card-template" id="bingo-template-upload" onchange="this.form.submit()">
    <label for="bingo-template-upload">Upload Bingo Card Template</label>
</form>